body{
    
    background-color: bisque;
    text-align: center;
    text-decoration: none;
    
}

divOne{
    border: solid;
    background-color: lightpink
}

h1{
    font-family: 'Times New Roman', Times, serif
}

table{
    paddig-top:67px;
    background-color: gray;
    border: dashed;
}



#circleOne{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: pink;
}

.divTwo{
    padding-top: 5ps;
}