body{
    margin: 0;
    background-color: bisque;
    text-align: center;
    text-decoration: none;
    
}

h1{
    font-family: 'Times New Roman', Times, serif
}

table{
    background-color: gray;
    border: dashed;
}

#circleOne{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: pink;
}